{
    "port":            {{ codem_transcode_port }},
    "access_log":      "{{ codem_transcode_access_log }}",
    "database":        "{{ codem_transcode_database_dir }}/{{ codem_transcode_database_name }}",
    "slots":           "{{ codem_transcode_slots }}",
    "interface":       "{{ codem_transcode_interface }}",
    "encoder":         "{{ codem_transcode_encoder }}",
    "scratch_dir":     "{{ codem_transcode_scratch_dir }}",
    "use_scratch_dir": "{{ codem_transcode_use_scratchdir }}",
    "ffprobe":         "{{ codem_transcode_ffprobe }}"



}

